/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
.author-meta {
  color: #504d57; text-align: left;
}
.pagination em {
  font-weight: 600;
  background-color: #485054;
  display: inline-block;
  min-width: 100px;
  color: #ccc;
  font-size: 13px; padding: 5px;
}
.pagination span {
  font-weight: 600;
  display: inline-block; font-size: 13px; color: #ccc; padding: 3px;
}